<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confissões – Arquidiocese de Londrina</title>

    <!-- Fontes -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    Confissões – Arquidiocese de Londrina
</header>

<main>
    {% for dia, lista in dias.items() %}
    <details class="dia-bloco">
        <summary class="dia-titulo">{{ dia }}</summary>

        <ul class="lista-paroquias">
            {% for item in lista %}
            <li class="card">
                <strong>{{ item.paroquia }}</strong><br>
                <span>{{ item.local }}</span><br>
                <span>Horário: {{ item.horario }}</span>
            </li>
            {% endfor %}
        </ul>
    </details>
    {% endfor %}
</main>
</body>
</html>
